@*@model List<CategoryViewModel>*@

@*Pagination*@
@model PagingResultViewModel

@{
    var categories = (List<CategoryViewModel>)Model.Data;
    var nextValue = Model.CurrentPage + 1;
    var previousValue = Model.CurrentPage - 1;
}


<h3>Category Managment</h3>
<hr />
@*@if (Model.Any())*@

@if (categories.Any())
{
    <form asp-controller="Category" asp-action="Index" method="get">
        <div class="row">
            <div class="col-md-4">
                <input name="searchKey" value="@ViewBag.searchKey" class="form-control" placeholder="Search .. " />
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        </div>
    </form>
    <br />

    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Post Count</th>
            <th>Last Added</th>
            <th>Actions</th>
        </tr>
        @*@foreach (var category in Model)*@
        @foreach (var category in categories)
        {
            <tr>
                <th>@category.Id</th>
                <th>@category.Name</th>


                <th>@category.PostCount</th>
                @if (category.LastPostAdded != null)
                {
                    <th>@category.LastPostAdded.Value.ToString("yyyy:MM:dd HH:mm")</th>
                }
                else
                {
                    <th>No Items Added</th>
                }
                <th>
                    <a href="~/Category/Delete/@category.Id" class="btn btn-danger">Delete</a>
                </th>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-warning">
        No Data In Our Database
    </div>
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (Model.CurrentPage == 1)
        {
            <li class="page-item disabled"><a class="page-link" href="~/Category/Index?page=@previousValue">Previous</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" href="~/Category/Index?page=@previousValue">Previous</a></li>
        }
        @for (int i = 1; i <= Model.NumberOfPages; i++)
        {
            @if (i == Model.CurrentPage)
            {
                <li class="page-item active"><a class="page-link" href="~/Category/Index?page=@i">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="~/Category/Index?page=@i">@i</a></li>
            }
        }
        @if (Model.CurrentPage == Model.NumberOfPages)
        {

            <li class="page-item disabled"><a class="page-link" href="~/Category/Index?page=@nextValue">Next</a></li>
        }
        else
        {
             
            <li class="page-item"><a class="page-link" href="~/Category/Index?page=@nextValue">Next</a></li>
        }

    </ul>
</nav>